

body{background-color:rgb(245, 227, 227);
}

    
    h1{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: xxx-large; 
        font-style:italic; font-weight: 50;
        text-underline-position: below;
        color:pink; 
}
    h2{color:antiquewhite; font-size: xx-large;
        font-style: italic;}

.topnav a {
     
     display: inline;
     text-align:center;
     text-decoration: none;
     flex: 5;
     color: black; text-decoration-line: underline;
     font-size:large;
    padding-inline-start: 2rem;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    background-color: rgb(167, 177, 180);
}
.topnav a:first-child {
        border-radius:1em 0 0 1em;
}
 
.topnav a:hover {
        background-color: antiquewhite;
        transition: all 2s;
        align-content: center;
}
    
.header { background-color:rgb(167, 177, 180);
        
}
   
p { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    color:lightslategray;
    font-style: italic;
    text-align:center;
    
}

.portfolio{
    display:flex;
    flex-wrap: wrap;
    border: 1p rgb(167, 177, 180);

}

.firstbox{
    list-style-type: none;
    color: lightslategray; 
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke;   

}

.about{
    background-color:rgb(167, 177, 180) ;
}